<p id="notice"><%= notice %></p>

<p>
  <strong>Pointer:</strong>
  <%= @statistic.pointer %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @statistic.answer_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @statistic.question_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @statistic.user_id %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
